.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 0 20px;
  width: 100px;
}

.webcam {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  width: auto;
}

.webcam video {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.resolution-text-input {
  width: 3rem;
}
